@using DynamicLoad.Contracts
@implements IDCVisible

<h3 style="display:@(Visible?"":"none")">Dynamic component text 1</h3>

@code {
    [Parameter]
    public bool Visible { get; set; }

    public void SetVisible(bool visible)
    {
        Visible = visible;
        InvokeAsync(StateHasChanged);
    }
}
